li p{
    margin-left: 20px;
    border: 3px solid darkolivegreen;
    margin-right: 925px;
} 
ul li{
    line-height: 30px;
}
h1{
    color: goldenrod;
    background-color: darkorchid;
    margin-right: 725px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
body {
    background-image: linear-gradient(red, white, blue);
}